<!DOCTYPE html>
<html>
<!-- https://web.dev/patterns/layout/clamping-card?hl=en -->

<head>
    <meta charset="utf-8">
    <title>layout: clamping-card</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        /* .parent {
            width: clamp(23ch, 60%, 46ch);
        } */

        .parent {
            display: grid;
            place-items: center;
        }

        .card {
            width: clamp(23ch, 60%, 46ch);
            display: flex;
            flex-direction: column;
            padding: 1rem;
        }

        .visual {
            height: 125px;
            width: 100%;
        }
    </style>
</head>

<body style="padding:2rem;">
    <div class="parent" style="background-color: #eee">
        <div class="card">
            <h1>Title Here</h1>
            <div class="visual"></div>
            <p>Descriptive Text. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed est error repellat
                veritatis.</p>
        </div>
    </div>
    <div style="margin-top:1rem;margin-bottom:1rem"></div>
    <div class="parent">
        <div class="card" style="background-color: #eee;">
            <h1>Title Here</h1>
            <div class="visual"></div>
            <p>Descriptive Text. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed est error repellat
                veritatis.</p>
        </div>
    </div>
    <div style="margin-top:1rem;margin-bottom:1rem"></div>
    <div class="parent">
        <div class="card">
            <h1>Title Here</h1>
            <div class="visual" style="background-color: #eee;"></div>
            <p>Descriptive Text. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed est error repellat
                veritatis.</p>
        </div>
    </div>
    <div style="margin-top:1rem;margin-bottom:1rem"></div>
    <div class="parent">
        <div class="card">
            <h1>Title Here</h1>
            <div class="visual"></div>
            <p style="background-color: #eee;">Descriptive Text. Lorem ipsum dolor sit, amet consectetur adipisicing
                elit. Sed est error repellat
                veritatis.</p>
        </div>
    </div>
</body>

</html>